/* device under medium */
@media (max-width: 768px) {
  header {
    width: 100%;
    flex-direction: row;
    height: auto;
    padding: 10px;
  }

  header nav {
    width: 100%;
    max-width: none;
    margin-top: 10px;
    justify-content: center;
  }

  header nav ul {
    flex-direction: row;
    align-items: center;
  }

  header nav ul li a {
    margin: 10px 10px;
    font-size: 18px;
  }

  .nav-end {
    justify-content: center;
    margin-top: 30px;
    margin-left: 100px;
  }

  .download-btn {
    max-width: 150px;
    height: 50px;
    font-size: 16px;
    padding: 5px;
    border-radius: 4px;
  }

  .star-one {
    display: none;
  }
}

@media (max-width: 480px) {
  header {
    width: 100%;
    flex-direction: column;
    padding: 10px;
  }

  header nav {
    width: 100%;
    max-width: none;
    margin-top: 10px;
    justify-content: center;
  }

  header nav ul {
    flex-direction: column;
    align-items: center;
  }

  header nav ul li a {
    font-size: 16px;
  }

  .download-btn {
    width: 100%;
    max-width: 140px;
    height: 45px;
    font-size: 14px;
  }

  .star-one {
    display: none;
  }
}

/* banner section */

@media (max-width: 768px) {
  body {
    font-family: ClashDisplay;
  }

  main {
    width: 100%;
    margin-top: 115px;
    padding: 10px 20px;
  }

  .parent {
    grid-template-columns: 1fr 1fr;
    gap: 5px;
  }

  .header-title {
    font-size: 48px;
    font-weight: 500px;
  }

  .header-text {
    font-size: 18px;
    font-weight: 400px;
  }

  .btn-parent-div {
    align-items: flex-start;
  }

  .get-started-btn,
  .watch-video-btn {
    font-size: 14px;
    padding: 8px 12px;
  }

  .group-scl-parent {
    margin-top: 16px;
    position: relative;
  }

  .scale-image-1,
  .scale-image-2,
  .scale-image-3,
  .scale-image-4,
  .scale-image-a,
  .scale-image-star,
  .scale-image-vline-1,
  .scale-image-vline-2,
  .scale-image-text-2 {
    position: absolute;
  }

  .scale-image-1 {
    width: 400px;
    z-index: 1;
  }

  .scale-image-a {
    left: -45px;
    top: 180px;
  }

  .scale-image-2 {
    width: 200px;
    left: 198px;
    top: 15px;
  }

  .scale-image-3 {
    height: 50px;
    left: 212px;
    top: 185px;
  }

  .scale-image-4 {
    left: 230px;
    top: 35px;
  }

  .scale-image-star {
    width: 35px;
    height: 35px;
    left: 260px;
    top: 190px;
  }

  .scale-image-vline-1 {
    height: 40px;
    left: 250px;
    top: 193px;
  }

  .scale-image-vline-2 {
    height: 50px;
    left: 305px;
    top: 185px;
  }

  .scale-image-text-2 {
    width: 60px;
    height: 28px;
    left: 325px;
    top: 195px;
  }
  .iphone-div {
    position: relative;
    margin-top: 200px;
  }
  .iphone-1,
  .iphone-2,
  .iphone-3 {
    width: 280px;
    height: 483px;
    position: absolute;
    rotate: -15deg;
  }

  .iphone-1 {
    left: --10px;
    top: -150px;
    z-index: 6;
  }

  .iphone-2 {
    left: 50px;
    top: -120px;
    z-index: 5;
  }

  .iphone-3 {
    left: 120px;
    top: -100px;
    z-index: 4;
  }

  .elippse-1,
  .elippse-2,
  .elippse-3 {
    display: none;
  }
}

/* small device */
@media (max-width: 480px) {
  body {
    font-family: ClashDisplay;
  }

  main {
    width: 100%;
    margin-top: 115px;
    padding: 10px 5px;
  }

  .parent {
    display: grid;
    grid-template-columns: 1fr;
    gap: 0;
  }
  .header-title {
    font-weight: 400px;
    font-size: 36px;
  }

  .header-text {
    font-size: 16px;
    font-weight: 300;
  }
  .get-started-btn,
  .watch-video-btn {
    font-size: 18px;
    padding: 6px 8px;
  }

  .group-scl-parent {
    display: none;
  }
}
